.sidebar-main-menu {
  width: 250px;
  /* התכונה מה-CSS השני */
  height: calc(100vh - 70px);
  /* גובה שמותאם לגובה החלון פחות גובה התפריט העליון */
  max-width: 20vw;
  /* מאפיין נוסף מ-CSS השני */
  background: var(--bgWhite);
  /* צבע רקע כהה */
  color: var(--text);
  /* צבע טקסט */
  position: fixed;
  /* המיקום הקבוע בצד ימין */
  right: 0;
  /* יישור לצד ימין */
  top: 70px;
  /* מיקום מתחת ל-NavBar */
  overflow-y: auto;
  /* גלילה אנכית */
  box-sizing: border-box;
  /* שמירה על חישוב גבולות */
  padding-top: 20px;
  /* מרווח למעלה */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  /* הצללה */
}

.sidebar-main-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /* border-left: var(--text) 5px solid ; */

}

.sidebar-main-menu .menu-item {
  margin-bottom: 15px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  border-left: var(--text) 8px solid ;
border-radius: 4px;
  /* חובה ל-parent בשביל positioning */
}

.sidebar-main-menu .menu-item.active {
  /* background-color: #555; */
  /* border: 1px solid #bd7dd1; */
  border-left: none;
  /* border-right: var(--text) 8px solid ; */
  background-color: var(--hover);

  /* צבע רקע לפריט פעיל */
}

.sidebar-main-menu .menu-item:hover {
  background-color: #c189c94b;
  /* צבע רקע בעת ריחוף */
}

.sidebar-main-menu .nav-link,
.sidebar-main-menu .menu-item .homeLink {
  text-decoration: none;
  /* ללא קו תחתון */
  color: inherit;
  /* צבע הטקסט */
  display: flex;
  align-items: center;
  width: 100%;
  /* מאפיין נוסף */
}

.sidebar-main-menu .menu-item svg,
.sidebar-main-menu .icon {
  margin-left: 10px;
}

.sidebar-main-menu .submenu {
  position: absolute;
  /* מחייב את תת-התפריט להתפרס ביחס ל-parent */
  top: 100%;
  /* מיקום מתחת ל-item */
  left: 0;
  /* יישור לצד שמאל */
  width: 100%;
  /* הרחבת רוחב התת-תפריט */
  padding-right: 20px;
  /* תיקון מרחק ימין-שמאל ביחס ל-padding של ה-menu-item */
  list-style: none;
  color: white;
  background-color:rgba(19, 38, 85, 0.849);
  z-index: 10;
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); */
  display: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  /* הסתרת ברירת מחדל */
}

.sidebar-main-menu .submenu.open {
  display: block;
}


.sidebar-main-menu .submenu li {
  padding: 8px 10px;
  /* background-color: #c189c9c1; */
  /* צבע רקע לפריטים פנימיים */
  transition: background-color 0.3s ease;
  /* מעבר צבע */
  width: 100%;
}

.sidebar-main-menu .submenu li:hover,.sidebar-main-menu .submenu li.active {
  background-color: #666;
  /* צבע רקע בעת ריחוף */
}

.icon {
  color: var(--text);

}

.sidebar-main-menu .menu-item .submenu.open {
  display: block !important;
  /* מבטיח שהסגנון יופעל */
}

li {
  margin-right: 0;
}

.sidebar-main-menu .menu-item.open+.menu-item {
  margin-top: 60px;
  /* הזזת השורה הבאה בתפריט */
}