.sidebar-main-menu {
  width: 250px; /* התכונה מה-CSS השני */
  height: calc(100vh - 70px); /* גובה שמותאם לגובה החלון פחות גובה התפריט העליון */
  max-width: 20vw; /* מאפיין נוסף מ-CSS השני */
  background-color: #333; /* צבע רקע כהה */
  color: #fff; /* צבע טקסט */
  position: fixed; /* המיקום הקבוע בצד ימין */
  right: 0; /* יישור לצד ימין */
  top: 70px; /* מיקום מתחת ל-NavBar */
  overflow-y: auto; /* גלילה אנכית */
  padding: 10px; /* משולב משני ה-CSS */
  box-sizing: border-box; /* שמירה על חישוב גבולות */
  padding-top: 20px; /* מרווח למעלה */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5); /* הצללה */
}

.sidebar-main-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-main-menu .menu-item {
  margin-bottom: 15px; /* תכונה מה-CSS הראשון */
  padding: 10px 20px; /* תכונה מה-CSS השני */
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease; /* אנימציית מעבר */
}

.sidebar-main-menu .menu-item:hover {
  background-color: #444; /* צבע רקע בעת ריחוף */
}

.sidebar-main-menu .nav-link, 
.sidebar-main-menu .menu-item .homeLink { 
  text-decoration: none; /* ללא קו תחתון */
  color: inherit; /* צבע הטקסט */
  display: flex;
  align-items: center;
  width: 100%; /* מאפיין נוסף */
}

.sidebar-main-menu .menu-item svg, 
.sidebar-main-menu .icon {
  margin-left: 10px;
}

.sidebar-main-menu .submenu {
  list-style: none; /* הגדרת סוג הרשימה */
  padding-left: 20px;
  margin: 0; /* מאפיין נוסף */
  display: none; /* מצב ברירת מחדל - מוסתר */
}

.sidebar-main-menu .submenu li {
  padding: 8px 20px;
  background-color: #555; /* צבע רקע לפריטים פנימיים */
  transition: background-color 0.3s ease; /* מעבר צבע */
}

.sidebar-main-menu .submenu li:hover {
  background-color: #666; /* צבע רקע בעת ריחוף */
}

.sidebar-main-menu .menu-item.open .submenu {
  display: block; /* הצגת תת-תפריט */
}
.icon{
  color:#fff;

}