.header-with-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .header-with-button .backButton {
    position: absolute;
    right: 0;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
        color: var(--bgSoft);
        transition: transform 0.2s ease;

  }
  
.backButton:hover{
    transform: scale(1.2) translateX(5px);

}


.newTransactionBtn{
    position: absolute;
    left: 0;
    background: var(--bgSoft);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    align-self:flex-start;
}
.newTransactionBtn:hover{
    background-color: var(--text);
}
.small{
    font-size: 1.5rem;
}

.toggle-view {
    cursor: pointer;
    /* סמן עכבר על מילת קישור */
    color: blue;
    /* צבע טקסט */
    text-decoration: underline;
    /* קו תחתון */
    margin-right: 10px;
    /* רווח קטן מהכותרת */
}

.transactions_first_page {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    gap: 30px;
    margin: 30px;
}

.toggle-view:hover {
    color: darkblue;
    /* שינוי צבע במעבר עכבר */
}

.income-chart-container {
    margin: 20px 0;
    text-align: center;
    width: 100%;
}

#incomeChart {
    max-width: 600px;
    margin: 0 auto;
}

.chart-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.chart-header button {
    background: none;
    border: none;
    color: var(--bgSoft);
    font-size: 16px;
    cursor: pointer;
    text-decoration: underline;
}

.chart-header button:hover {
    color: var(--text);
}