.transaction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 12px;
    /* overflow: hidden; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.transaction-table thead th:first-child {
    border-top-right-radius: 12px;
}

.transaction-table thead th:last-child {
    border-top-left-radius: 12px;
}


.transaction-table th,
.transaction-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    position: relative;
    overflow: visible;  /* לוודא שהתוכן שבתוך td לא ייחתך */
    text-align: start;
}

.transaction-table th {
    background-color: var(--bgSoft);
    color: white;
    font-size: 16px;
}

.transaction-table tr:hover {
    background-color: #f4f4f4;
    transition: background-color 0.2s ease-in-out;
}

.transaction-table td {
    font-size: 15px;
    color: #333;
}
.floating-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 1000;
    padding: 8px;
    min-width: 150px;
}

.floating-menu .action-item {
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.floating-menu .action-item:hover {
    background-color: #f0f0f0;
}

.transaction-table select {
    cursor: pointer;
}

/* כפתורי פעולה */
.transaction-actions {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.transaction-actions button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.transaction-actions .save-btn {
    color: green;
}

.transaction-actions .cancel-btn {
    color: red;
}

.transaction-actions .edit-btn {
    color: teal;
    transition: transform 0.2s ease-in-out;
}

.transaction-actions .edit-btn:hover {
    transform: scale(1.1);
}
.actions-dropdown {
    position: absolute;
    top: 100%; /* כברירת מחדל נפתח כלפי מטה */
    left: 10;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    min-width: 150px;
}

.actions-dropdown.open-up {
    top: auto;
    bottom: 100%; /* כשאין מקום למטה, פותח כלפי מעלה */
}

.actions-dropdown {
  opacity: 0;
  transform: scale(0.95);
  pointer-events: none;
}

.actions-dropdown.open-up,
.actions-dropdown:not(.open-up) {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

.action-item {
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.action-item:hover {
    background-color: #f0f0f0;
}


/* טבלה רספונסיבית */
@media (max-width: 768px) {
    .transaction-table {
        font-size: 14px;
    }

    .transaction-table th,
    .transaction-table td {
        padding: 8px;
    }
}