* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

header {
    width: 100%; /* ה-NavBar תופס את כל הרוחב */
}

main {
    display: flex; /* מחלק את החלוקה בין main לתפריט */
    flex-direction: row-reverse; /* הופך את כיוון הפריסה כך שהתפריט בצד ימין */
    width: 100%; /* מכסה את כל הרוחב */
    margin: 0;
    padding: 0;
}

main > .content {
    width: 80% !important; /* תופס 80% מרוחב המסך */
    padding: 20px; /* מרווח פנימי */
    box-sizing: border-box;
}

main > .menu {
    width: 20% !important; /* התפריט תופס 20% */
    /* background-color: #f4f4f4; */
    padding: 20px; /* מרווח פנימי */
    box-sizing: border-box;
}

@media (max-width:768px){
    main > .content {
        width: 100% !important; /* תופס 80% מרוחב המסך */
        padding: 20px; /* מרווח פנימי */
        box-sizing: border-box;
    }
    main > .menu{
        width: 0% !important;
        padding: 0;
    }
}
@media screen and (min-width: 1200px) {
    main > .content {
      width: calc(100vw - 250px) !important;
    }
  }