.login-page {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    font-family: var(--fontFamily);
    color: var(--text);
}

.loginImg {
    min-width:70vw;
    height: 100vh;
    object-fit: cover;
}

.login-form {
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    padding: 20px;
}

.login-page-form {
    padding: 20px;
    width: 80%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: auto;
    margin-bottom: 20px;
}

.login-page-form h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: var(--text);
}

.login-page-form input {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    border: solid 1px var(--bgSoft);
    border-radius: 5px;
    background-color: var(--bgWhite);
    font-size: 14px;
}

.login-page-form button {
    width: 50%;
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    background-color: var(--bgSoftLight);
    color: var(--text);
    cursor: pointer;
    transition: background 0.3s;
}

.login-page-form button:hover {
    background-color: var(--text); 
    color: var(--bgWhite);
}

.toRegist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
    margin-bottom: 20px;
}

.toRegist a {
    color: var(--text);
    text-decoration: none;
    font-weight: bold;
    
}

.toRegist a:hover {
    text-decoration: underline;
}

.eye-icon {
    position: absolute;
    left: 10px;
    bottom: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em;
    color: #666;
}
.field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    text-align: start;
    position: relative;
  }
  
  .field label {
    font-size: 15px;
    color: var(--text);
    margin-bottom: 5px;
  }
  
  .field input {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    border: 1px solid var(--bgSoft);
    border-radius: 3px;
    background-color: var(--bgWhite);
    font-size: 14px;
  }

  @media (max-width: 768px) {
    .login-page {
        flex-direction: column;
    }

    .loginImg {
        display: none;
    }

    .login-form {
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .login-page-form {
        width: 90%;
        max-width: 400px;
    }
}

  
