.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom right, #dec0f0, #fffde7);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation: fadeIn 1.2s ease-in-out;
}

.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 2000;
}

.background-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  border-radius: 8px;
  background: linear-gradient(to bottom right, #dec0f0, #fffde7);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  animation: fadeIn 1.2s ease-in-out;
}

.modalForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
}

.modelBtn {
  padding: 7px;
  color: var(--bgWhite);
  background-color: var(--text);

  border: none;
  border-radius: 5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  transform: scale(1.02);

}

.modelBtn:hover {
  /* color: var(--text); */
  background-color: var(--hoverBtnModel);
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.downBtn {
  margin-top: 15px;
}

.bigBtn {
  padding: 15px;
  background-color: #3b256ddf;
}

.loading-box {
  background-color: white;
  border-radius: 20px;
  padding: 30px 40px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  animation: popIn 0.6s ease-out;
}

.icon-rotate {
  font-size: 3rem;
  animation: spin 2s linear infinite;
  margin-bottom: 15px;
}

.fade-icon {
  animation: fadeInOut 2.5s ease-in-out infinite;
}

.add-client-icon {
  font-size: 2rem;
  display: inline-flex;
  align-items: center;
  animation: bouncePlus 1.8s ease-in-out infinite;
}

.rotating-coin {
  font-size: 2rem;
  display: inline-block;
  animation: coinSpin 1.6s linear infinite;
  transform-origin: center;
  padding: 0;
  margin: 0;
}

.cash-bill {
  font-size: 3rem;
  display: inline-block;
  animation: flutterCash 1s ease-in-out infinite;
}

.bill {
  font-size: 2.5rem;
  display: inline-block;
  animation: flutterCashAdel 1s ease-in-out infinite;
}


.loading-title {
  font-size: 1.8rem;
  color: var(--text);
  margin-bottom: 10px;
}

.loading-subtitle {
  font-size: 1.1rem;
  color: var(--text);
}

.credit-swipe {
  font-size: 3rem;
  display: inline-block;
  animation: swipeCard 2s ease-in-out infinite;
  height: 3.1rem;
}



button:disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
  opacity: 0.6;
}


/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popIn {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeInOut {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

@keyframes bouncePlus {

  0%,
  100% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-3px);
  }

  50% {
    transform: translateY(0);
  }

  75% {
    transform: translateY(-1px);
  }
}

@keyframes coinSpin {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

@keyframes flutterCash {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes flutterCashAdel {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(7deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes swipeCard {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(10px);
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}