.under-construction {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .message-container {
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .InBuild {
    font-size: 2rem;
    color: #ff5722;
    margin-bottom: 10px;
  }
  
  .InBuildP {
    font-size: 1.2rem;
    color: #333;
  }
  