/* ----- בסיס ----- */
body {
    text-align: center;
}

.head {
    border-top: 2px solid var(--bgSoft);
    padding-top: 10px;
    margin-top: 10px;
}

.head h1 {
    color: var(--text);
}

/* ----- כפתורי מעבר / Toggle ----- */
/* .toggle-button {
    border: 2px solidvar(--bgSoft);
    background-color: transparent;
    color: var(--bgSoft);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 5px;
}

.toggle-button.active {
    background-color: var(--bgSoft);
    color: white;
}

.toggle-button:not(.active):hover {
    background-color: white;
} */

/* ----- תצוגת הכנסות ----- */
/* .income-display {
    position: fixed;
    top: 115px;
    left: 20px;
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    text-align: right;
}

.income-display h2,
.transactions-display h2 {
    margin-bottom: 20px;
}

.income-details {
    margin-top: 10px;
    color: #333;
}

.income-details p {
    margin: 5px 0;
}

 */

/* ----- תצוגת עסקאות ----- */
/* .transactions-display {
    max-width: 100%;
    margin: 20px;
} */

.income-outcome-summary {
    display: flex;
    width: 100%;
    gap: 15px;
}

/* ----- כפתורי פעולות מהירות ----- */
.actionsHedder {
    margin: 20px;
    color: var(--text);

}

.QuickActions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    font-family: var(--fontFamily);
}

.QuickActions button,
.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 23%;
    color: var(--text);
    background-color: var(--bgSoft);
    border: none;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    font-family: var(--fontFamily);
}

.QuickActions button:hover,
.nav-button:hover {
    box-shadow: 0 4px 10px var(--bgSoftLight);
    transform: translateY(-3px);
}

.QuickActions button a {
    text-decoration: none;
}

/* ----- לוח בקרה ----- */
.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.dashboard-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

.dashboard-row.three-cards .dashboard-card {
    width: 31%;
}

/* ----- כרטיסי לוח בקרה רגילים ----- */
.dashboard-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    overflow: hidden;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    gap: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.dashboard-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.dashboard-card h4 {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.dashboard-card h2 {
    font-size: 18px;
    font-weight: bold;
    color: var(--bgSoft);
}

.dashboard-card .chart-container {
    position: relative;
    width: 100%;
    height: calc(100% - 40px);
    max-height: 120px;
}

.dashboard-card button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bgSoft);
    color: white;
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* transition: 0.3s; */
    text-decoration: none;
    transform: translateY(-3px);
    box-shadow: 0 2px 2px #999;
    transition: all 0.1s ease-in-out;
    text-align: center;
}

.dashboard-card button:hover {
    box-shadow: 0 1px #666;
    transform: translateY(-2px);
}


/* ----- כרטיסי לוח בקרה גדולים ----- */
.dashboard-card-large {
    flex: 1 1;
    width: 48%;
    overflow: hidden;
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-card-large:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.dashboard-card-large h4 {
    font-size: 18px;
    color: var(--text);
}

.dashboard-card-large .chart-container {
    position: relative;
    width: 90%;
    max-width: 100px;
    aspect-ratio: 1 / 1;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ----- עיצוב גרף ----- */
.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
    cursor: auto;
}

/* ----- מדיה ----- */
@media (min-width: 1024px) {

    /* .dashboard {
        min-height: 83vh;
        margin-bottom: 20px;
    }
*/
    .dashboard-card {
        width: 100%;
    }

    .dashboard-card-large {
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 100%;
        height: 30vh;
    }
}

@media (max-width: 1024px) {
    .income-outcome-summary {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .dashboard-card {
        width: 100%;
    }

    .income-outcome-summary {
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 75vh;
    }

    .QuickActions {
        justify-content: space-evenly;
    }

    .QuickActions button,
    .nav-button {
        height: 15vh;
        width: 48%;
    }

}